<%- include('../includes/start') %>
<%- include('../includes/headBody') %>
<%- include('../includes/navbar') %>
<section id="headerSection">
    <div id="particles-js"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-12 text-lg-left text-center"
                style=" padding: 0 10px; color: white; margin-top: 10vw">
                <div class="container formContainer"
                    style="background-color: white; padding: 25px; border-radius: 5px; box-shadow: 0 0 20px">
                    <form action="post-work.php" id="home_submit_work" method="post" enctype="multipart/form-data">
                        <h1 class="sectionHeading m-3">LOGIN</h1>
                        <div class="form-group m-3">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group m-3">
                            <input type="password" name="password" class="form-control" id="password"
                                placeholder="Password">
                        </div>
                        <div class="p-3">
                            <input type="submit" name="submit" value="Login" class="btn themeColorHoverBtn btn-block">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../includes/end') %>
<%- include('../includes/end') %>